# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'File'
    'submenu': [
      'label': 'Open SAR Global Definitions'
      'command': 'save-autorun:open-global-definitions'
    ]
  }
]
